html {
    --main-color: #3B7FFF;
    --secondary-color: #b9d1ff;
    --background-color: #eee;
    --font-color: #173772;
    --shadow-color: #16316361;
}

* {
    box-sizing: border-box !important;
    scroll-behavior: smooth;
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-family: "Zain";
    margin: 0;
    background-color: var(--background-color);
    color: var(--font-color);
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 0 !important;
    padding-bottom: 30px !important;
    box-shadow: 0 2px 5px var(--shadow-color);
}

.card .title {
    padding: 20px;
    background-color: var(--secondary-color);
    margin-bottom: 30px;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

#topDiv {
    margin-top: 10px;
    padding: 10px;
}

#topDiv .container {
    height: 30vh;
    max-height: 200px;
    background-color: var(--main-color);
    border-radius: 20px;
}

#topDiv .container {
    color: white;
    position: relative;
}

#topDiv .container .contents {
    position: relative;
    z-index: 2;
}

#topDiv .container .contents h1 {
    font-size: 40px;
    font-weight: 600;
}

#topDiv .container .contents p {
    width: 50%;
    font-size: 20px;
    margin-top: 20px;
}

#topDiv .container .contents p i {
    margin-left: 5px;
}

#topDiv .container img {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 5px;
}

#infoDiv {
    padding: 10px;
    color: var(--font-color);
}

#infoDiv .container {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

#infoDiv .container p i {
    margin-left: 5px;
}

#searchDiv {
    padding: 10px;
}

#searchDiv .container .searchInput {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: stretch;
    border-radius: 10px;
    padding: 0;
    background-color: white;
    box-shadow: 0 2px 5px var(--shadow-color);
}

#searchDiv .container .searchInput i {
    align-self: center;
    margin: 0 10px;
    font-size: 20px;
}

#searchDiv .container .searchInput input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 20px;
}

#searchDiv .container .searchInput input:focus {
    outline: none;
}

#searchDiv .container .searchInput button {
    height: auto;
    border: none;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
}

#sectionsDiv {
    padding: 10px;
}

#sectionsDiv .card {
    padding-bottom: 0 !important;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 20px;
}

.sections .section {
    width: 80px;
    text-align: center;
}


.sections .section img {
    width: 100%;
    margin-bottom: 5px;
}

.sections .section h4 {
    font-size: 20px;
}

#teamDiv {
    padding: 10px;
}

#teamDiv .card {
    padding-bottom: 0 !important;
}

#footerDiv {
    background-color: var(--main-color);
    color: white;
    margin-top: 20px;
    padding: 20px 0;
    font-size: 20px;
}